.output {
    font: 1rem 'Fira Sans', sans-serif;
}
.nota {
    font-style: italic;
    font-weight: bold;
}
.editorial {
    background: rgb(255, 0, 0, .25);
    padding: 10px;
}
.editorial:before {
    content: 'Editor: ';
}
.output {
    font: 1rem 'Fira Sans', sans-serif;
}
blockquote {
    background: #eee;
    border-radius: 5px;
    margin: 16px 0;
}
blockquote p {
    padding: 15px;
}
cite {
    margin: 16px 32px;
}
blockquote p::before {
    content: '\201C';    
}
blockquote p::after {
  content: '\201D';
}
[contenteditable='true'] {
    caret-color: red;
}
p {
    background: #ffe8d4;
    border: 1px solid #f69d3c;
    padding: 5px;
    border-radius: 5px;
}

/*
Medidas Relativas:

Fuente actual: em Es la fuente que se esta trabajando por defecto, si la fuente es de 10 puntos 
y se coloca 2em se estaría trabajando con una fuente de 20 puntos.
Altura de la letra: ex 1ex sería igual a la altura de la letra de la fuente actual del usuario.
Píxeles: px varían su tamaño real en base a la resolución de la pantalla del usuario.*/

/*
Medidas Absolutas:
Puede que en tu ordenador 1 centímetro sea una medida razonable, pero en un móvil puede ser un espacio
exageradamente grande, puesto que la pantalla es mucho menor. Se aconseja utilizar, por tanto, medidas relativas.
Puntos pt Un punto equivale a 1/72 pulgadas
Pulgadas in
Centímetros cm
Milímetros mm
Picas pc (equivale a 12 puntos)
*/

/*
MARGENES
Un único valor aplicará para todos los cuatro lados.
Dos valores aplicarán: El primer valor para arriba y abajo, el segundo valor para izquierda y derecha.
Tres  valores aplicarán: El primero para arriba, el segundo para izquierda y derecha, el tercero para abajo.
Cuatro valores aplicarán en sentido de las manecillas del reloj empezando desde arriba. (Arriba, derecha, abajo, izquierda)
*/