body{
    background-color: rgb(59, 56, 56);
}
.navbar{
    background-color: #7952B3;
}
.titulo{
    color: white;
    margin-bottom: 5vh;
}
.imagen{
    display: flex;
    justify-content: center;

}
.boot{
    font-size: 10rem;
    color: #7952B3;
    margin-top: 20vh;
}
.atras{
    color: #7952B3;
    font-size: 2rem;
    margin: 0.5rem;
}